.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    background-repeat: repeat;
    background-size: auto;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid #ffd700;
}

.panel{
  margin-top: 1rem;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
  justify-items: center;
  align-items: center;  

}

.square{
    height: 150px;
    border: 5px solid #ffd700;
    border-style: solid;
    width: 150px;
    background: linear-gradient(to bottom, white, #7ce0bf);;
}

.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
    background-color: #ff0000;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 1rem;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.flash {
  animation: flash 0.3s ease;
}   

.square.disabled {
  background: #ccc;          
  opacity: 0.5;              
  cursor: not-allowed;       
}